
.button {
  @apply
  text-lg
  ;

  > * {
    @apply
    group-active:scale-95
    ;
  }

  &.button-primary {
    @apply
    bg-primary-gradient
    border-2
    border-solid
    border-primary-color
    py-[13px]
    px-5
    rounded-lg
    text-white
    text-base
    font-bold
    text-center
    hover:bg-primary-hover-gradient
    hover:border-primary-hover-color
    inline-flex
    ;
  }

  &.button-secondary {
    @apply
    bg-secondary-gradient
    border-2
    border-solid
    border-secondary-color
    py-[13px]
    px-5
    rounded-lg
    text-white
    text-base
    font-bold
    text-center
    hover:bg-secondary-hover-gradient
    hover:border-secondary-hover-color
    ;
  }
}