
.modal {
  @apply
  fixed
  inset-0
  z-50
  grid
  place-content-center
  ;
  > .modal-content {
    @apply
    animate-scale-in
    relative
    z-10
    overflow-hidden
    ;
    &::before,
    &::after {
      @apply
      content-['']
      absolute
      inset-0
      ;
    }
    &::before {
      @apply
      z-0
      mix-blend-multiply
      ;
      background-image: url('https://res.cloudinary.com/dlelhcnp3/image/upload/v1682456908/gamba/paper-texture_rvz2bb.gif');
      background-repeat: repeat;
      background-size: 200px auto;
      background-position: center 200px;
      animation: texture 25s linear infinite;
    }
    &::after {
      @apply
      z-10
      ;
      background-image: radial-gradient(50% 80% at 50% 20%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.0467187) 40.1%, rgba(0, 0, 0, 0.38) 100%);
      background-size: cover;
    }
  }
}

@keyframes texture {
  0% {
    background-position: center 200px;
  }
  100% {
    background-position: center 0;
  }
}

.modal-close {
  @apply
  absolute
  z-50
  top-1
  right-1
  rounded-full
  hover:rotate-45
  transition-all
  duration-200
  bg-secondary-color
  active:bg-secondary-hover-color
  active:outline
  active:outline-1
  active:outline-offset-2
  active:outline-danger-color
  p-1
  text-[0]
  ;

  svg {
    @apply
    w-8
    h-8
    fill-primary-color
    block
    ;
  }
}

.modal-backdrop {
  @apply
  fixed
  inset-0
  z-0
  backdrop-blur-sm
  blur-md
  -scale-x-100
  ;
  background-color: rgba(0,0,0,0.95);

  > video {
    @apply
    fixed
    inset-0
    w-full
    h-full
    object-cover
    opacity-20
    animate-fire-in
    ;
    animation-delay: 0.15s;
  }
}