
.rankup-container {
  @apply
  py-8
  px-4
  text-center
  ;

  .rankup-congratulations {
    @apply
    uppercase
    -mb-6
    inline-flex
    items-center
    justify-center
    mx-auto
    flex-col
    text-primary-color
    relative
    z-30
    ;
    > * {
      @apply
      inline-block
      ;
      
      &:nth-child(1) {
        @apply
        text-3xl
        ;
      }
      &:nth-child(1) {
        @apply
        text-2xl
        ;
      }
      
    }
  }

  .rankup-rank {
    @apply
    relative
    z-30
    text-5xl
    font-bold
    -mt-8
    uppercase
    text-primary-color
    ;
    filter:
      drop-shadow(0px 0.5px 1.2px rgba(0, 0, 0, 0.067))
      drop-shadow(0px 1.2px 3px rgba(0, 0, 0, 0.097))
      drop-shadow(0px 2.3px 5.6px rgba(0, 0, 0, 0.12))
      drop-shadow(0px 4px 10.1px rgba(0, 0, 0, 0.143))
      drop-shadow(0px 7.5px 18.8px rgba(0, 0, 0, 0.173))
      drop-shadow(0px 18px 45px rgba(0, 0, 0, 0.24))
    ;
    .blockreveal {
      &,
      &::before,
      & > * {
        animation-delay: .9s;
      }
    }
  }
}

.blockreveal {
  @apply
  relative
  ;
  transform: scale(1) translateY(5rem);
  opacity: 0;
  animation: blockreveal .66s ease forwards;
  &::before {
    @apply
    content-['']
    absolute
    z-10
    inset-0
    bg-primary-color
    rounded-sm
    ;
    transform-origin: center 100%;
    transform: scaleY(0);
    animation: blockreveal-before .44s cubic-bezier(1,0,.2,1) .6s forwards;
  }
  > * {
    @apply
    relative
    z-0
    ;
    opacity: 0;
    animation: blockreveal-content .44s cubic-bezier(1,0,.2,1) .6s forwards
  }

  &:nth-child(1) {
    &,
    &::before,
    & > * {
      animation-delay: .5s;
    }
  }
  &:nth-child(2) {
    &,
    &::before,
    & > * {
      animation-delay: .7s;
    }
  }
  &:nth-child(3) {
    &,
    &::before,
    & > * {
      animation-delay: .9s;
    }
  }
}
@keyframes blockreveal {
  0% {
    transform: scale(1) translateY(5rem);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
@keyframes blockreveal-before {
  0% {
      transform-origin: center 100%;
      transform: scaleY(0)
  }

  50% {
      transform-origin: center 100%;
      transform: scaleY(1)
  }

  51% {
      transform-origin: center 0;
  }

  100% {
      transform-origin: center 0;
      transform: scaleY(0)
  }
}

@keyframes blockreveal-content {
  0% {
      opacity: 0
  }

  50% {
      opacity: 0
  }

  51% {
      opacity: 1
  }

  100% {
      opacity: 1
  }
}

.rankup-illustration {
  @apply
  relative
  aspect-square
  ;

  > video {
    @apply
    absolute
    z-50
    mix-blend-screen
    inset-0
    object-cover
    ;
  }
}
.rankup {
  @apply
  absolute
  z-0
  inset-0
  isolate
  aspect-square
  drop-shadow-md
  ;

  img,
  i,
  video {
    @apply
    absolute
    inset-0
    ;
  }

  > video {
    @apply
    z-50
    mix-blend-screen
    object-cover
    ;
  }

  > img {
    @apply
    origin-center
    ;
  }

  > i {
    @apply
    z-30
    absolute
    inset-0
    bg-[-15%]
    bg-[length:400%_auto]
    animate-[battlepass-shining-rays_7s_cubic-bezier(0.1,0,0.8,1)_infinite]
    bg-[linear-gradient(130deg,_rgba(255,255,255,0)_45.9%,_rgba(255,255,255,.4)_46%,_rgba(255,255,255,0)_54%,_rgba(255,255,255,0)_60.9%,_rgba(255,255,255,.4)_61%,_rgba(255,255,255,0)_70%,_rgba(255,255,255,0)_71%)]
    bg-no-repeat
    blur
    ;
    mask-size: cover;
    mask-repeat: no-repeat;

    &:nth-of-type(1) {
      @apply
      delay-0
      opacity-40
      z-50
      ;
    }
    &:nth-of-type(2) {
      @apply
      opacity-60
      z-50
      ;
      animation-delay: 0.1s !important;
    }
    &:nth-of-type(3) {
      @apply
      delay-1000
      z-50
      ;
      animation-delay: 0.2s !important;
    }
  }
}

@keyframes battlepass-shining-rays {
  0%, 25% {
    background-position: 150%;
  }
  50%, 100% {
    background-position: -15%;
  }
}

.rankup-container {

  &.is-active {

    
  }
}

.rankup-level {
  transform: scale(0);
  animation: rankup-level 1.4s cubic-bezier(1,.2,.1,1.2) 0s forwards;
}
.rankup-shield {
  transform: scale(0);
  animation: rankup-shield 1.4s cubic-bezier(1,.2,.1,1.2) .1s forwards;
}
.rankup-wing-l {
  transform: scale(0) rotate(-280deg);
  animation: rankup-wing-l 1s cubic-bezier(.6,0,0,1) .4s forwards;
}
.rankup-wing-r {
  transform: scale(0) rotate(280deg);
  animation: rankup-wing-r 1s cubic-bezier(.6,0,0,1) .4s forwards;
}
.rankup-bottom-1 {
  transform: scale(0) translateY(-40%);
  animation: rankup-bottom 1.2s cubic-bezier(.6,0,0,1) .4s forwards;
}
.rankup-bottom-2 {
  transform: scale(0) translateY(-40%);
  animation: rankup-bottom 1.2s cubic-bezier(.6,0,0,1) .5s forwards;
}
.rankup-bottom-3 {
  transform: scale(0) translateY(-40%);
  animation: rankup-bottom 1.2s cubic-bezier(.6,0,0,1) .6s forwards;
}
.rankup-top {
  transform: scale(0) translateY(40%);
  animation: rankup-top 1.2s cubic-bezier(.6,0,0,1) .6s forwards;
}

.rankup-shield, 
.rankup-bottom-1, 
.rankup-bottom-2, 
.rankup-bottom-3 {
  filter:
  drop-shadow(0px 0.4px 0.3px rgba(0, 0, 0, 0.015))
  drop-shadow(0px 0.8px 0.7px rgba(0, 0, 0, 0.022))
  drop-shadow(0px 1.3px 1.1px rgba(0, 0, 0, 0.027))
  drop-shadow(0px 2px 1.7px rgba(0, 0, 0, 0.031))
  drop-shadow(0px 2.9px 2.4px rgba(0, 0, 0, 0.035))
  drop-shadow(0px 4.1px 3.4px rgba(0, 0, 0, 0.039))
  drop-shadow(0px 5.8px 4.8px rgba(0, 0, 0, 0.043))
  drop-shadow(0px 8.4px 6.9px rgba(0, 0, 0, 0.048))
  drop-shadow(0px 12.9px 10.7px rgba(0, 0, 0, 0.055))
  drop-shadow(0px 23px 19px rgba(0, 0, 0, 0.07));
}

@keyframes rankup-level {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rankup-shield {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rankup-wing-l {
  0% {
    transform: scale(0) rotate(-280deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
@keyframes rankup-wing-r {
  0% {
    transform: scale(0) rotate(280deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
@keyframes rankup-bottom {
  0% {
    transform: scale(0) translateY(-40%);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@keyframes rankup-top {
  0% {
    transform: scale(0) translateY(40%);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

.rankup-video {
  @apply
  relative
  w-96
  h-96
  ;
  > video {
    @apply
    absolute
    inset-0
    object-cover
    ;

    &:nth-of-type(1) {
      @apply
      mix-blend-screen
      z-10
      ;
    }
    &:nth-of-type(2) {
      @apply
      z-0
      ;
    }
  }
  + .rankup-rank {
    @apply
    -mt-2
    ;
  }
}